//取整
var parseInts = function (x) {
  return parseInt(x)
}
var order = function (index) {
  switch (index) {
    case 0:
      return 'A'
      break
    case 1:
      return 'B'
      break
    case 2:
      return 'C'
      break
    case 3:
      return 'D'
      break
    case 4:
      return 'E'
      break
    case 5:
      return 'F'
      break
  }
}
module.exports = {
  parseInt: parseInts,
  order: order
} 